

#calc {
  border: solid black 1px;
  border-spacing: 5px 5px;
  border-radius: 5px;
  background-color: #181818;
  margin: auto;
}

#display {
  border-radius: 0px;
  background-color: black;
  color: green;
  font-family: /*'Segment7Standard'*/ 'LaylaDigitalRegular';
  font-size: 35px;
  border-color: #404141;
  height: 40px;
}

td {
  border: solid black 1px;
  text-align: center;
  padding: 10px;
  border-spacing: 5px 5px;
  border-radius: 10px;
  background-color: #878787;
  color: #181818;
  transition: 0.5s;
  width: 16px;
}

#clear {
  background-color: white;
  width: 100px;
  font-family: 'Play';
  font-size: 12px;
  font-weight: bold;
}

#depositCash {
  background-color: #338A2E;
  width: 100px;
  font-family: 'Play';
  font-size: 12px;
  font-weight: bold;
}

#withdrawCash {
  background-color: #AA3C39;
  width: 100px;
  font-family: 'Play';
  font-size: 12px;
  font-weight: bold;
}

#getBalance {
  background-color: #33AEAE;
  width: 100px;
  font-family: 'Play';
  font-size: 12px;
  font-weight: bold;
}

td:hover, #depositCash:hover, #withdrawCash:hover, #getBalance:hover {
  background-color: white;
  cursor: pointer;
  /*transition: 0.5s;*/
}

#clear:hover {
  background-color: #878787;
}

.hiddenCell {
  empty-cells: hide;
}

#display:before {
  font-family: 'LaylaDigitalRegular';
  content: '$ ';
  font-size: 35px;
}